@using Nallawilli.ViewModels
@model CmsPublicSectionViewModel

@{
    var title = Model.Get("title");
    var subtitle = Model.Get("subtitle");
    var image = Model.Get("image");
    var description = Model.Get("description");
}

@if (!string.IsNullOrWhiteSpace(title))
{
    <h4>ini title: @title</h4>
}

@if (!string.IsNullOrWhiteSpace(subtitle))
{
    <h4>ini subtitle: @subtitle</h4>
}

@if (!string.IsNullOrWhiteSpace(image))
{
    <img src="@image" alt="@Model.Get("title")">
}

@if (!string.IsNullOrWhiteSpace(description))
{
    @Html.Raw(description)
}