@model CmsPublicSectionViewModel
@using Nallawilli.Helpers.Public
@{
    var bgImage = Model.Get("bg_image");
    var bgImageUrl = CmsMediaPaths.ToAppRelative(bgImage);
    var icon1 = Model.Get("icon_1");
    var number1 = Model.Get("number_1");
    var label1 = Model.Get("label_1");
    var color1 = Model.Get("color_1");

    var icon2 = Model.Get("icon_2");
    var number2 = Model.Get("number_2");
    var label2 = Model.Get("label_2");
    var color2 = Model.Get("color_2");

    var icon3 = Model.Get("icon_3");
    var number3 = Model.Get("number_3");
    var label3 = Model.Get("label_3");
    var color3 = Model.Get("color_3");

    var icon4 = Model.Get("icon_4");
    var number4 = Model.Get("number_4");
    var label4 = Model.Get("label_4");
    var color4 = Model.Get("color_4");

}

<section class="section bg-cta" data-jarallax='{"speed": 0.5}'
         style="background: url('@(bgImageUrl is null ? "" : Url.Content(bgImageUrl))') fixed center no-repeat;" id="cta">
    <div class="bg-overlay bg-black" style="opacity: 0.6;"></div>
    <div class="container">
        <div class="row align-items-center justify-content-center">

            <div class="col-lg-3 col-md-3 col-12 mt-4 pt-2 d-flex">
                <div class="pricing text-center rounded overflow-hidden shadow h-100 w-100 d-flex flex-column">
                    <div class="d-flex flex-column justify-content-center align-items-center bg-light border-bottom py-5 flex-grow-1">
                        @if (!string.IsNullOrEmpty(icon1)) { <img src="@Url.Content(CmsMediaPaths.ToAppRelative(icon1)!)" alt="@label1" /> }
                        <h1 class="my-3">@number1</h1>
                        <p class="mb-4">@label1</p>
                    </div>
                    <div class="pricing-features text-start bg-light">
                        <div class="text-center py-3" style="background-color:@color1;"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-12 mt-4 pt-2 d-flex">
                <div class="pricing text-center rounded overflow-hidden shadow h-100 w-100 d-flex flex-column">
                    <div class="d-flex flex-column justify-content-center align-items-center bg-light border-bottom py-5 flex-grow-1">
                        @if (!string.IsNullOrEmpty(icon2)) { <img src="@Url.Content(CmsMediaPaths.ToAppRelative(icon2)!)" alt="@label2" /> }
                        <h1 class="my-3">@number2</h1>
                        <p class="mb-4">@label2</p>
                    </div>
                    <div class="pricing-features text-start bg-light">
                        <div class="text-center py-3" style="background-color:@color2;"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-12 mt-4 pt-2 d-flex">
                <div class="pricing text-center rounded overflow-hidden shadow h-100 w-100 d-flex flex-column">
                    <div class="d-flex flex-column justify-content-center align-items-center bg-light border-bottom py-5 flex-grow-1">
                        @if (!string.IsNullOrEmpty(icon3)) { <img src="@Url.Content(CmsMediaPaths.ToAppRelative(icon3)!)" alt="@label3" /> }
                        <h1 class="my-3">@number3</h1>
                        <p>@label3</p>
                    </div>

                    <div class="pricing-features text-start bg-light">
                        <div class="text-center py-3" style="background-color:@color3;"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-12 mt-4 pt-2 d-flex">
                <div class="pricing text-center rounded overflow-hidden shadow h-100 w-100 d-flex flex-column">
                    <div class="d-flex flex-column justify-content-center align-items-center bg-light border-bottom py-5 flex-grow-1">
                        @if (!string.IsNullOrEmpty(icon4)) { <img src="@Url.Content(CmsMediaPaths.ToAppRelative(icon4)!)" alt="@label4" /> }
                        <h1 class="my-3">@number4</h1>
                        <p class="mb-4">@label4</p>
                    </div>
                    <div class="pricing-features text-start bg-light">
                        <div class="text-center py-3" style="background-color:@color4;"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>